[Desktop Entry]
Version=1.0
Type=Application
Name=Leafpad
Comment=Simple text editor
Exec=leafpad %f
Icon=accessories-text-editor
Path=
Terminal=false
StartupNotify=true
